@model BRCurtidas.Web.UI.Models.ViewModelBase

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

        <link rel="stylesheet" href="~/css/site.min.css" />
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
            <a class="navbar-brand" href="brcurtidas.com.br">
                <img src="~/images/bricon.png" alt="Logotipo BrCurtidas">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">

                    @foreach (var socialNetwork in Model.SocialNetworks)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @socialNetwork.Name.ToUpperInvariant()
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                @foreach (var serviceType in socialNetwork.ServiceTypes)
                                {
                                    <a class="dropdown-item" href="@Url.RouteUrl(RouteNames.GetProducts, new {slug = @serviceType.Slug})">@serviceType.Name</a>
                                }
                            </div>
                        </li>
                    }

                    <li class="nav-item">
                        <a class="nav-link" href="#">CONTATO</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">TERMOS DE USO</a>
                    </li>
                </ul>
                <div class="nav-item">
                        <div class="nav-link" style="font-size: 20px;"><img src="~/images/whatsapp-icon-oficial.png" style="padding-right: 10px;">(21) 96544-8522</div>
                </div>
            </div>
            </div>
        </nav>

    <div>
        @RenderBody()
    </div>

    <footer>
            <a href="#"><img src="~/images/uparrow_icon.png"></a>
            <div>© 2016 - 2017 BR Curtidas - Todos os direitos reservados</div>
            <div>Whatsapp: (21) 96544-8522 | Skype: andrebrananjos | E-mail: brcurtidas@brcurtidas.com.br</div>
    </footer>

    <script src="~/js/site.min.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
